---
import Appointment from '../components/Appointment.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Stats from '../components/Stats.astro';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.min.css" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,500;1,700&family=Raleway:wght@400;500;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/css/swiper-bundle.min.css">
		<title>Insove</title>
	</head>
	<body>
		<Header></Header>
		<Hero></Hero>
		<Stats></Stats>
		<Services></Services>
		<Appointment></Appointment>
	</body>
	<script is:inline src="/js/swiper-bundle.min.js"></script>
	<script is:inline src="/js/scrollreveal.min.js"></script>
	</html>
	
	<style is:global>@import '../style/global.css';</style>