---
import AppointmentSelect from "./AppointmentSelect.astro";
---
<section class="appointment section">
    <div class="container mx-auto">
        <h2 class="appointment__title h2 mb-5 text-center xl:mb-[50px] xl:text-left">
            Book Appointment or Call 
            <span class="text-accent-tertiary">(+223) 646 774</span>
        </h2>
        <form action="appointment__form flex flex-col gap-y-5">
            <div class="flex flex-col items-center gap-5 xl:flex-row">
                <AppointmentSelect 
                    options = {['Select Department','Department 1', 'Department 2', 'Department 3']}>
                </AppointmentSelect>
                <AppointmentSelect 
                    options = {['Select Doctor','Dr Jane Doe', 'Dr John Doe', 'Dr Bob Smith']}>
                </AppointmentSelect>         
                <div>
                    
                </div>
            </div>
        </form>
    </div>
</section>