---

---
<section class="departments section">
    <div class="departments__bg bg-departments bg-cover bg-center bg-no-repeat max-w-[1466px] mx-4 rounded-[20px] px-6 py-12 relative min-h-[588px] flex items-center xl:mx-auto xl:bg-auto xl:px-0 xl:pt-[80px] xl:pb-[90px]">
        <div class="departments__container container mx-auto">
            <div class="flex flex-col gap-x-5 xl:flex-row">
                <div class="xl:w-[310px]">
                    <div class="cursor-pointer hover:text-accent transition-all">Laboratory Analysis</div>
                    <div class="cursor-pointer hover:text-accent transition-all">Laboratory Analysis</div>
                    <div class="cursor-pointer hover:text-accent transition-all">Laboratory Analysis</div>
                    <div class="cursor-pointer hover:text-accent transition-all">Laboratory Analysis</div>
                    <div class="cursor-pointer hover:text-accent transition-all">Laboratory Analysis</div>
                </div>
                <div class="xl:w-[640px]">
                    <h2 class="h2 text-center xl:text-left">Cardiology Clinic</h2>
                    <p class="mb-8 font-light text-center xl:text-left">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore excepturi tenetur laboriosam pariatur aliquam debitis voluptate beatae obcaecati neque repudiandae id voluptatibus dolorem ex cumque minus nisi, tempora quia error.
                        <br><br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga consectetur rem repudiandae ratione repellat! Quas ea doloremque harum esse. Quisquam libero earum fuga rem ratione pariatur voluptas totam voluptatibus iure!
                    </p>
                    <div class="flex flex-col items-center xl:flex-row xl:justify-between max-w-[555px] mb-[50px] mx-auto xl:mx-0">
                        <div class="text-accent xl:border-r xl:border-[#dcdcdc] xl:pr-6">Neurocritical Care</div>
                        <div class="text-accent xl:border-r xl:border-[#dcdcdc] xl:pr-6">Neuro Oncology</div>
                        <div class="text-accent xl:border-r xl:border-[#dcdcdc] xl:pr-6">Geriatric Neurology</div>
                    </div>
                    <button class="btn btn-lg btn-accent mx-auto xl:mx-0 ">Lead more</button>
                </div>
            </div>
        </div>
    </div>
</section>