---
import FaqQuestion from "./FaqQuestion.astro";

---
<section class="faq">
    <div class="container mx-auto">
        <h2 class="faq__title h2 text-center mb-12">We've got answers</h2>
        <div class="max-w-5xl mx-auto">
            <FaqQuestion 
                question="Why to believe in Insove medical healthcare ?"
                answer="Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti architecto, enim repellat expedita quod, vitae ducimus impedit laborum, earum atque magnam ipsam? Quae repellat architecto odio, reiciendis maxime eaque cupiditate.">                
            </FaqQuestion>
            <FaqQuestion 
                question="Will we het healthcare updates after surgery ?"
                answer="Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti architecto, enim repellat expedita quod, vitae.">                
            </FaqQuestion>
            <FaqQuestion 
                question="What preparations are necessary before undergoing surgery ?"
                answer="Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti architecto, enim repellat expedita quod, vitae ducimus impedit laborum, earum atque magnam ipsam? Quae repellat architecto odio, reiciendis maxime eaque cupiditate.">                
            </FaqQuestion>
            <FaqQuestion 
                question="How long will it take to recover after the surgery ?"
                answer="Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti architecto, enim repellat expedita quod, vitae ducimus impedit laborum, earum atque magnam ipsam? Quae repellat architecto odio, reiciendis maxime eaque cupiditate.">                
            </FaqQuestion>
        </div>
    </div>
</section>