---
import StatsItem from "./StatsItem.astro";

---
<section class="stats section">
    <article class="container mx-auto flex flex-col gap-y-6 xl:flex-row xl:justify-between">
        <StatsItem numberStat="+5030" nameStat="Happy Patients"></StatsItem>
        <StatsItem numberStat="26" nameStat="Total Branches"></StatsItem>
        <StatsItem numberStat="+53" nameStat="Senior Doctors"></StatsItem>
        <StatsItem numberStat="+10" nameStat="Years Experience"></StatsItem>
    </article>
</section>