---
import TestimonialSwiperSlide from "./TestimonialSwiperSlide.astro";

---
<div class="swiper h-[400px] max-w-[98%] xl:max-w-[710px]" id="swiper">
    <!-- Wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <TestimonialSwiperSlide name="James Pandora" job="Customer" comment="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et laudantium tempora culpa consequuntur id? Aliquam labore excepturi vero, ipsa at ea, eius quia ut pariatur, debitis impedit mollitia"></TestimonialSwiperSlide>
      <TestimonialSwiperSlide name="Marcus Claus" job="Supplier" comment="Lorem ipsum, dolor sit amet consectetur adipisicing elit."></TestimonialSwiperSlide>
    </div>
    <!-- Pagination -->
    <div class="swiper-pagination"></div>
</div>