---
import img from '../assets/img/testimonials/img.png';
import TestimonialSwiper from './TestimonialSwiper.astro';
---
<section class="testimonial bg-testimonials bg-cover bg-right bg-no-repeat py-12 xl:min-h-[595px] xl:py-0">
    <div class="testimonial__container container mx-auto">
        <div class="flex flex-col items-center gap-x-14 xl:flex-row">
            <img class="hidden xl:flex" src={img.src} alt="imagen testimonials">
            <TestimonialSwiper></TestimonialSwiper>
        </div>
    </div>
</section>