---
interface Props {
    name:string,
    comment:string,
    job:string
}

const {name, comment, job} = Astro.props;
---
<div class="swiper-slide">
    <article class="h-full flex flex-col justify-center items-center max-w-[680px] mx-auto text-center xl:text-left">
        <p class="font-light relative text-xl text-[#4c5354] leading-[190%] before:bg-quoteLeft before:bg-no-repeat before:bg-contain before:bg-bottom before:inline-block before:top-10 before:w-10 before:h-10
        after:bg-quoteRight after:bg-no-repeat after:bg-contain after:bg-bottom after:inline-block after:top-10 after:w-10 after:h-10">
            <span class="mx-2">{comment}</span>
        </p>
        <div class="text-[26px] text-[#4c5354] font-semibold mt-4 text-center xl:mt-8" >{name}</div>
        <h4 class="font-medium text-[#9ab4b7] uppercase tracking-[2.24px] xl:mt-2">{job}</h4>
    </article>
  </div>